entornomostro
Entregable1/controller/__pycache__
Entregable1/controller/__pycache__
./Entregable1/__pycache__
Entregable1/view/__pycache__
Entregable1/__pycache__
Entregable2/__pycache__
Entregable3/__pycache__
./Entregable1/__pycache__
Entregable1/controller/__pycache__/Controller.cpython-310.pyc
Entregable1/view/__pycache__/View.cpython-310.pyc